<h1>Redes sociales más usadas</h1>
<hr/>

<div *ngIf="doughnutChartData.datasets[0].data.length === 0; else divGrafica" class="alert alert-info">
    Cargando data...
</div>

<div class="row">
    <div class="col">
        <ng-template #divGrafica>
            <div style="display: block;">
                <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
                </canvas>
            </div>

            <span class="float-end text-primary">Información en billones de usuarios</span>
        </ng-template>
    </div>
</div>